
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.transt {
    padding: 7px;
    text-align: center;
    font-size: 20px;
}

.endtransac {
    border: 1px solid lightgray;
    text-align: center;
}

.resume {
    padding: 8px;
    border: 1px solid lightgray;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.takes {
    display: flex;
    gap: 20px;
    width: calc(50% - 10px); 
    position: relative;
}

.data {
    padding: 10px;
}

.takinfo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.genretick {
    padding: 7px;
    border: 1px solid maroon;
    text-align: center;
    width: 80px;
}

.pxtick {
    font-weight: bold;
    font-size: 21px;
}

.takimg {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* formulaire */

.fortick {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#nup, #umail, #uad, #untel {
    padding: 10px;
    width: 300px;
    font-size: 15px;
    border-color: rgb(134, 90, 39);
}

.paya {
    text-align: center;
}

.paymethod {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.paymt {
    padding: 10px;
    border: 1px solid lightgray;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.paymt:hover {
  transform: scale(1.06);
}

